// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-message {
  color: green;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#all_footnotes {
  background: white;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  position: fixed;
  z-index: 150;
}

.app-view-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #7E98B2;
}

// .nav-bar-top {
//   background: #7E98B2;
//   width: 90%;
//   height: 10em;
//   position: fixed;
//   top: 0;
//   left: 5%;
//   z-index: -1;
// }

.nav-bar {
  background: #36475E;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4em;
  z-index: 100;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
}

.side-bar {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 4em;
  height: 100%;
  width: 15em;
  background: #36475E;
  color: white;
  padding-left: 3em;
  z-index: 100;
}

.side-bar-survey-list {
  list-style: none;
  padding-left: 0;
}

.sidebar-survey-item {
  margin-bottom: 1em;
}

.main-container {
  position: absolute;
  top: 4em;
  left: 15em;
  width: 100%;
  height: 100%;
}

.app-view-header {
  background: #EFF2F8;
  height: 2.5em;
  width: 100%;
  position: fixed;
  z-index: 50;
  box-sizing: border-box;
  font-size: 2em;
  padding: 1em;
}

.view-header-title {

}

.app-view-subheader {
  background: #EFF2F8;
  height: 2.5em;
  width: 100%;
  position: fixed;
  top: 12.8%;
  border-top: solid 1px gray;
  z-index: 50;
  box-sizing: border-box;
  padding-left: 2em;
  padding-top: .3em;
}

.app-edit-container {
  background: #D6DBE6;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10.4%;
  overflow: auto;
  z-index: 0;
  padding: 2em;
  box-sizing: border-box;
}
